Repository RE-SS3D/SS3D-Art, pull requests merged in 2023-11, with the labels that each got.

#93 Update Docs
  .github/ISSUE_TEMPLATE/Issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  README.md
Labels: Documentation

#92 Port target doll graphics from GD
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TagetPelvis.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetArmL1.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetArmL2.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetArmR1.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetArmR2.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetEars.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetEyes.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetHead.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetLegL1.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetLegL2.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetLegR1.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetLegR2.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetMouth.png
  Assets/Graphics/UI/HUD/TargetDoll/DollOutline/TargetTorso.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/ArmLeft.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/ArmRight.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/Chest.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/EarLeft.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/EarRight.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/EyeLeft.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/EyeRight.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/FootLeft.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/FootRight.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/Groin.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/HandLeft.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/HandRight.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/Head.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/LegLeft.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/LegRight.png
  Assets/Graphics/UI/HUD/TargetDoll/SimpleOutline/Mouth.png
Labels: Art: Graphic

#91 Port jobs graphics from GD
  Assets/Graphics/UI/Jobs/AI.png
  Assets/Graphics/UI/Jobs/Assistant.png
  Assets/Graphics/UI/Jobs/Bartender.png
  Assets/Graphics/UI/Jobs/Captain.png
  Assets/Graphics/UI/Jobs/CargoTechnician.png
  Assets/Graphics/UI/Jobs/Chaplain.png
  Assets/Graphics/UI/Jobs/Chef.png
  Assets/Graphics/UI/Jobs/Chemist.png
  Assets/Graphics/UI/Jobs/ChiefEngineer.png
  Assets/Graphics/UI/Jobs/Clown.png
  Assets/Graphics/UI/Jobs/Detective.png
  Assets/Graphics/UI/Jobs/Doctor.png
  Assets/Graphics/UI/Jobs/Engineer.png
  Assets/Graphics/UI/Jobs/Janitor.png
  Assets/Graphics/UI/Jobs/Lawyer.png
  Assets/Graphics/UI/Jobs/Miner.png
  Assets/Graphics/UI/Jobs/Nurse.png
  Assets/Graphics/UI/Jobs/Plumber.png
  Assets/Graphics/UI/Jobs/Roboticist.png
  Assets/Graphics/UI/Jobs/SecurityOfficer.png
  Assets/Graphics/UI/Jobs/Syndicate.png
  Assets/Graphics/UI/Jobs/Virologist.png
  Assets/Graphics/UI/Jobs/Warden.png
  Assets/Graphics/UI/Misc/ArrowFlip.png
  Assets/Graphics/UI/Misc/ArrowRotate.png
  Assets/Graphics/UI/Misc/DropdownArrow.png
  Assets/Graphics/UI/Misc/Space.png
  Assets/Graphics/UI/Misc/Windows/CornerDrag.png
  Assets/Graphics/UI/Misc/Windows/DropdownArrow.png
Labels: Art: Graphic

#90 Port inventory + item graphics from GD
  Assets/Graphics/UI/Containers/InventoryIcons/BeepBack.png
  Assets/Graphics/UI/Containers/InventoryIcons/BeepCard.png
  Assets/Graphics/UI/Containers/InventoryIcons/BeepHand.png
  Assets/Graphics/UI/HUD/Inventory/Back.png
  Assets/Graphics/UI/HUD/Inventory/BeepBack.png
  Assets/Graphics/UI/HUD/Inventory/BeepCard.png
  Assets/Graphics/UI/HUD/Inventory/BeepHand.png
  Assets/Graphics/UI/HUD/Inventory/BeepHead.png
  Assets/Graphics/UI/HUD/Inventory/BeepPocket.png
  Assets/Graphics/UI/HUD/Inventory/BeepWaist.png
  Assets/Graphics/UI/HUD/Inventory/Card.png
  Assets/Graphics/UI/HUD/Inventory/Ears.png
  Assets/Graphics/UI/HUD/Inventory/Expand.png
  Assets/Graphics/UI/HUD/Inventory/Eyes.png
  Assets/Graphics/UI/HUD/Inventory/Face.png
  Assets/Graphics/UI/HUD/Inventory/Feet.png
  Assets/Graphics/UI/HUD/Inventory/HandLeft.png
  Assets/Graphics/UI/HUD/Inventory/HandRight.png
  Assets/Graphics/UI/HUD/Inventory/Hands.png
  Assets/Graphics/UI/HUD/Inventory/Neck.png
  Assets/Graphics/UI/HUD/Inventory/Pocket.png
  Assets/Graphics/UI/HUD/Inventory/Retract.png
  Assets/Graphics/UI/HUD/Inventory/Shirt.png
  Assets/Graphics/UI/HUD/Inventory/Suit.png
  Assets/Graphics/UI/HUD/Inventory/SuitStorage.png
  Assets/Graphics/UI/HUD/Inventory/Waist.png
  Assets/Graphics/UI/Items/Burger.png
  Assets/Graphics/UI/Items/Cigarettes.png
  Assets/Graphics/UI/Items/Container.png
  Assets/Graphics/UI/Items/Pistol1.png
  Assets/Graphics/UI/Items/SodaCan.png
  Assets/Graphics/UI/Items/Syringe.png
Labels: Art: Graphic

#89 Resize Intent Icons
  Assets/Graphics/UI/HUD/Intents/IntentGrab.png
  Assets/Graphics/UI/HUD/Intents/IntentHarm.png
  Assets/Graphics/UI/HUD/Intents/IntentHelp.png
Labels: Art: Graphic

#80 Paper Fix
  Assets/Textures/Items/Functional/Generic/Papers/PaperDocument1.png
  Assets/Textures/Items/Functional/Generic/Papers/PaperDrawing1.png
  Assets/Textures/Items/Functional/Generic/Papers/PaperWriting1.png
  Assets/Textures/Items/Functional/Generic/Papers/PaperWriting2.png
  Assets/Textures/Items/Functional/Generic/Papers/PaperWriting3.png
  Assets/Textures/Items/Functional/Generic/Papers/PaperWriting4.png
  Assets/Textures/Items/Functional/Generic/Papers/PaperWriting5.png
Labels: Art: Texture

#102 Port generic furniture from GD
  Assets/Models/Furniture/Generic/BoxingBag.blend
  Assets/Models/Furniture/Generic/BoxingRing.blend
  Assets/Models/Furniture/Generic/Drain.blend
  Assets/Models/Furniture/Generic/Fireplace.blend
  Assets/Models/Furniture/Generic/Jukebox.blend
  Assets/Models/Furniture/Generic/Nuke.blend
  Assets/Models/Furniture/Generic/Piano.blend
  Assets/Models/Furniture/Generic/Sink.blend
  Assets/Models/Furniture/Generic/WaterCooler.blend
  Assets/Models/Furniture/Generic/WhiteBoard.blend
  Assets/Models/Furniture/Machines/Botany/DryingRack.blend
  Assets/Models/Furniture/Machines/Kitchen/Keg.blend
Labels: Art: Model

#101 Port potted plants from GD
  Assets/Models/Furniture/Flora/PottedPlants/PottedPlants.blend
Labels: Art: Model

#100 Port other plants from GD
  Assets/Models/Furniture/Flora/LavalandPlants/PorciniMushrooms.blend
  Assets/Models/Furniture/Flora/OtherPlants/ChristmasTree.blend
  Assets/Models/Furniture/Flora/OtherPlants/SpruceTree.blend
Labels: Art: Model

#99 Port botany plant models from GD
  Assets/Models/Furniture/Flora/BotanyPlants/Ambrosia.blend
  Assets/Models/Furniture/Flora/BotanyPlants/Bananas.blend
  Assets/Models/Furniture/Flora/BotanyPlants/Beets.blend
  Assets/Models/Furniture/Flora/BotanyPlants/Cabbage.blend
  Assets/Models/Furniture/Flora/BotanyPlants/Cannabis.blend
  Assets/Models/Furniture/Flora/BotanyPlants/Carrots&Parsnip.blend
  Assets/Models/Furniture/Flora/BotanyPlants/GiantCoffeeBean.blend
  Assets/Models/Furniture/Flora/BotanyPlants/Onions&Garlic.blend
  Assets/Models/Furniture/Flora/BotanyPlants/PlumpHelmets.blend
  Assets/Models/Furniture/Flora/BotanyPlants/Potatos.blend
Labels: Art: Model

#98 Port other humanoid models from GD
  Assets/Models/Entities/Humanoids/Ghost.blend
  Assets/Models/Entities/Humanoids/Ghost/Ghost.blend
  Assets/Models/Entities/Humanoids/Gnoll/Gnoll.blend
  Assets/Models/Entities/Humanoids/IPC/IPC.blend
  Assets/Models/Entities/Humanoids/Reptillian/Reptillian.blend
  Assets/Models/Entities/Humanoids/Skeleton/Skeleton.blend
Labels: Art: Model

#97 Port Vehicle models from GD
  Assets/Models/Entities/Vehicles/Ambulance.blend
  Assets/Models/Entities/Vehicles/Mechs/Ripley.blend
  Assets/Models/Entities/Vehicles/RollerBed.blend
  Assets/Models/Entities/Vehicles/Secway.blend
  Assets/Models/Entities/Vehicles/WheelChair.blend
Labels: Art: Model

#96 Port Moth Person models from GD
  Assets/Models/Entities/Humanoids/Moth/Moth1.blend
  Assets/Models/Entities/Humanoids/Moth/Moth2.blend
Labels: Art: Model

#95 Port Mammal & Insect Models from GD
  Assets/Models/Entities/Animals/Mammals/Corgi.blend
  Assets/Models/Entities/Creatures/Animals/Insects/Bee.blend
  Assets/Models/Entities/Creatures/Animals/Insects/Cockroach.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/BorderCollie.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/Cat.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/Corgi.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/Cow.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/CubeCorgi.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/Fox.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/Mice.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/Monkey.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/Rat.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/Sloth.blend
  Assets/Models/Entities/Creatures/Animals/Mammals/SpaceBear.blend
Labels: Art: Model

#94 Port alien models from GD
  Assets/Models/Entities/Creatures/Aliens/Blob.blend
  Assets/Models/Entities/Creatures/Aliens/Cak.blend
  Assets/Models/Entities/Creatures/Aliens/CookieMan.blend
  Assets/Models/Entities/Creatures/Aliens/Gondola.blend
  Assets/Models/Entities/Creatures/Aliens/Hydroponics/KillerTomato.blend
  Assets/Models/Entities/Creatures/Aliens/Hydroponics/WalkingMushroom.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/ChangelingHeadCritter.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/KindBeast.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/Slime/Slime.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/SpaceCarp.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/Spiders.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/Xenomorph/XenomorphDrone.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/Xenomorph/XenomorphFaceHugger.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/Xenomorph/XenomorphFaceHugger2.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/Xenomorph/XenomorphLarva.blend
  Assets/Models/Entities/Creatures/Aliens/Xenobiology/Xenomorph/XenomorphQueen.blend
  Assets/Models/Entities/Humanoids/GhostlyArm.blend
Labels: Art: Model

#114 Port security machines from GD
  Assets/Models/Furniture/Machines/Security/Turrets/FloorTurret.blend
  Assets/Models/Furniture/Machines/Security/WeaponCharger.blend
Labels: Art: Model

#111 Port Atmos Machines from GD
  Assets/Models/Furniture/Machines/Atmospherics/Canisters.blend
  Assets/Models/Furniture/Machines/Atmospherics/LargeCanisters.blend
  Assets/Models/Furniture/Machines/Atmospherics/PortableAirPump.blend
  Assets/Models/Furniture/Machines/Atmospherics/PortableAirScrubber.blend
  Assets/Models/Furniture/Machines/Atmospherics/SpaceHeater.blend
  Assets/Models/Furniture/Machines/Atmospherics/TankStorageUnit.blend
  Assets/Models/Furniture/Machines/Atmospherics/Vent&Scrubber.blend
Labels: Art: Model

#112 Port Botany Machines from GD
  Assets/Models/Furniture/Machines/Botany/Apiary.blend
  Assets/Models/Furniture/Machines/Botany/Biogenerator.blend
  Assets/Models/Furniture/Machines/Botany/Bioprinter.blend
  Assets/Models/Furniture/Machines/Botany/DirtMound.blend
  Assets/Models/Furniture/Machines/Botany/HydroponicsTray.blend
  Assets/Models/Furniture/Machines/Botany/SeedProcessor.blend
  Assets/Models/Furniture/Machines/Botany/SeedProcessorV2.blend
Labels: Art: Model

#110 Port robot models from GD
  Assets/Models/Entities/Sillicon/Robots/BeepBot.blend
  Assets/Models/Entities/Sillicon/Robots/Beepsky.blend
  Assets/Models/Entities/Sillicon/Robots/ButtBot.blend
  Assets/Models/Entities/Sillicon/Robots/ChefBot.blend
  Assets/Models/Entities/Sillicon/Robots/CleanBot.blend
  Assets/Models/Entities/Sillicon/Robots/CorgiBot.blend
  Assets/Models/Entities/Sillicon/Robots/DroneCrab.blend
  Assets/Models/Entities/Sillicon/Robots/DroneMite.blend
  Assets/Models/Entities/Sillicon/Robots/DroneSpider.blend
  Assets/Models/Entities/Sillicon/Robots/MuleBot.blend
  Assets/Models/Entities/Sillicon/Robots/MuleBotMini.blend
Labels: Art: Model

#109 Port cyborgs from GD
  Assets/Models/Entities/Sillicon/Cyborgs/EngineeringCyborg.blend
  Assets/Models/Entities/Sillicon/Cyborgs/JanitorCyborg.blend
  Assets/Models/Entities/Sillicon/Cyborgs/MedicalCyborg.blend
  Assets/Models/Entities/Sillicon/Cyborgs/PeacekeeperCyborg.blend
  Assets/Models/Entities/Sillicon/Cyborgs/StandardCyborg.blend
  Assets/Models/Entities/Sillicon/Cyborgs/SupplyCyborg.blend
  Assets/Models/Entities/Sillicon/EngineeringBorg.blend
Labels: Art: Model

#108 Port Statues and Surfaces from GD
  Assets/Models/Furniture/Generic/Statues/StatueNakedMan.blend
  Assets/Models/Furniture/Generic/Statues/StatueThinkingMan.blend
  Assets/Models/Furniture/Generic/Statues/StatueVenus.blend
  Assets/Models/Furniture/Generic/Surfaces/ChapelAlter.blend
  Assets/Models/Furniture/Generic/Surfaces/Counters.blend
  Assets/Models/Furniture/Generic/Surfaces/Tablecloths.blend
  Assets/Models/Furniture/Generic/Surfaces/Tables.blend
Labels: Art: Model

#107 Port Barricades & beds from GD
  Assets/Models/Furniture/Generic/Barricades/Grille.blend
  Assets/Models/Furniture/Generic/Barricades/WoodFence.blend
  Assets/Models/Furniture/Generic/Bed/Bed.blend
  Assets/Models/Furniture/Generic/Bed/DogBed.blend
Labels: Art: Model

#106 Port remaining seat models from GD
  Assets/Models/Furniture/Generic/Seats/Chairs.blend
  Assets/Models/Furniture/Generic/Seats/ComfyChair.blend
  Assets/Models/Furniture/Generic/Seats/ElectricChair.blend
  Assets/Models/Furniture/Generic/Seats/ShuttleSeat.blend
  Assets/Models/Furniture/Generic/Seats/WoodChair.blend
Labels: Art: Model

#115 Add wizard wands
  Assets/Models/Items/Weapons/Ranged/Energy/WizardWands.blend
Labels: Art: Model

#133 Port Object Storage models from GD
  Assets/Models/Items/Functional/Storage/Objects/Bodybag.blend
  Assets/Models/Items/Functional/Storage/Objects/Briefcases.blend
  Assets/Models/Items/Functional/Storage/Objects/CardboardBoxes.blend
  Assets/Models/Items/Functional/Storage/Objects/DonutBox.blend
  Assets/Models/Items/Functional/Storage/Objects/LeatherPouch.blend
  Assets/Models/Items/Functional/Storage/Objects/Medkits.blend
  Assets/Models/Items/Functional/Storage/Objects/Toolboxes.blend
Labels: Art: Model

#131 Fix Booth Uncentered Mesh
  Assets/Models/Furniture/Generic/Seats/Chairs.blend
  Assets/Models/Furniture/Generic/Seats/ChapelPew.blend
  Assets/Models/Furniture/Generic/Seats/ComfyChair.blend
  Assets/Models/Furniture/Generic/Seats/DinerBooth.blend
  Assets/Models/Furniture/Generic/Seats/ElectricChair.blend
  Assets/Models/Furniture/Generic/Seats/ShuttleSeat.blend
  Assets/Models/Furniture/Generic/Seats/Sofa.blend
  Assets/Models/Furniture/Generic/Seats/Stools.blend
  Assets/Models/Furniture/Generic/Seats/Toilet.blend
  Assets/Models/Furniture/Generic/Seats/WoodChair.blend
Labels: Art: Model, Fix

#130 Port walls from GD
  Assets/Models/Structures/Walls/GirdersOld.blend
  Assets/Models/Structures/Walls/GlassPane.blend
  Assets/Models/Structures/Walls/RockWall&Ores.blend
  Assets/Models/Structures/Walls/ShuttleWalls.blend
  Assets/Models/Structures/Walls/SteelWalls.blend
  Assets/Models/Structures/Walls/SteelWallsOld.blend
Labels: Art: Model
